@page "/"

<PageTitle>Blazor Vintage Kit</PageTitle>

<h1>Examples</h1>
<p>This is just a template blazor app showing examples of Blazor Vintage Kit.</p>
<p>Select from the menu on the left.</p>

<a href="https://github.com/BrettLaw/BlazorVintageKit">Github</a>
