@page "/"

<PageTitle>Blazor Vintage Kit</PageTitle>

<h1>Examples</h1>
<p>This is just a template blazor app showing examples of Blazor Vintage Kit.</p>
<p>Select from the menu on the left.</p>

<p>Server side (@@RenderMode.InteractiveServer) examples are not enabled as they eat bandwidth and compute. 
    They work, but the use cases are fairly limited (local network, few users, etc).
    </p>

<a href="https://github.com/BrettLaw/BlazorVintageKit">Github</a>
